<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spoonacular</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <div class="container">
    <h1>Search for a Dish</h1>
    <form method="POST" action="/">
        <label for="dish">Enter dish name:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Search</button>
    </form>

    {% if result %}
        <h2>Details</h2>
        <div>
            <img src="{{ result.image}}" alt="{{ result.title }}" width="50">
            <p>ID: {{ result.id }}</p>
            <p>Title: {{ result.title }}</p>
        </div>
    {% elif error %}
        <p>{{ error }}</p>
    {% endif %}
    </div>
</body>
</html>